<section>
    <div class= "modal-body">

        <div class = "row">
            <div class = "student_title">{{title}}</div>
            <div class = "student_title">{{comment}}</div>

        </div>
        <div class = "row">
            <div class = "course_modal" data-ng-bind="colstudent.CPS210CompSciI" data-ng-show="title == 'CPS210CompSciI'">Grade: {{colstudent.CPS210CompSciI}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.MAT251CalcI" data-ng-show="title == 'MAT251CalcI'">Grade: {{colstudent.MAT251CalcI}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.MAT252CalcII" data-ng-show="title == 'MAT252CalcII'">Grade: {{colstudent.MAT252CalcII}</div>
            <div class = "course_modal" data-ng-bind="colstudent.MAT320DiscreteMath" data-ng-show="title == 'MAT320DiscreteMath'">Grade: {{colstudent.MAT320DiscreteMath}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS310CompSciII" data-ng-show="title == 'CPS310CompSciII'">Grade: {{colstudent.CPS310CompSciII}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS315CompSciIII" data-ng-show="title == 'CPS315CompSciIII'">Grade: {{colstudent.CPS315CompSciIII}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS352OOP" data-ng-show="title == 'CPS352OOP'">Grade: {{colstudent.CPS352OOP}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS330AssemblyArch" data-ng-show="title == 'CPS330AssemblyArch'">Grade: {{colstudent.CPS330AssemblyArch}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS353SoftEng" data-ng-show="title == 'CPS353SoftEng'">Grade: {{colstudent.CPS353SoftEnge}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS415DiscContAlgorithms" data-ng-show="title == 'CPS415DiscContAlgorithms'">Grade: {{colstudent.CPS415DiscContAlgorithms}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS340OpSys" data-ng-show="title == 'CPS340OpSys'">Grade: {{colstudent.CPS340OpSys}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS425LangProcessing" data-ng-show="title == 'CPS425LangProcessing'">Grade: {{colstudent.CPS425LangProcessing}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS493Elect1" data-ng-show="title == 'CPS493Elect1'">Grade: {{grade}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS493Projectss" data-ng-show="title == 'CPS493Projects'">Grade: {{colstudent.CPS493Elect1}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.EGC230DigLogic" data-ng-show="title == 'EGC230DigLogic'">Grade: {{colstudent.EGC230DigLogic}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.EGC208DigLogicLab" data-ng-show="title == 'EGC208DigLogicLab'">Grade: {{colstudent.EGC208DigLogicLab}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.SCIENCEI" data-ng-show="title == 'SCIENCEI'">Grade: {{colstudent.SCIENCEI}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.SCIENCEII" data-ng-show="title == 'SCIENCEII'">Grade: {{colstudent.SCIENCEII}}</div>

        </div>
        <div class = "row">
            <div class = "course_modal" data-ng-bind="colstudent.CPS210CompSciICOMMENT" data-ng-show ="title == 'CPS210CompSciICOMMENT'"> Grade:{{colstudent.CPS210CompSciICOMMENT}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS210CompSciICOMMENT" data-ng-show ="title == 'CPS210CompSciI'"> Grade:{{colstudent.CPS210CompSciICOMMENT}}</div>

            <div class = "course_modal" data-ng-bind="colstudent.MAT251CalcICOMMENT" data-ng-show="title == 'MAT251CalcI'">Grade: {{colstudent.MAT251CalcI}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.MAT252CalcIICOMMENT" data-ng-show ="title == 'MAT252CalcII'">Grade: {{colstudent.MAT252CalcII}</div>
            <div class = "course_modal" data-ng-bind="colstudent.MAT320DiscreteMathCOMMENT" data-ng-show ="title == 'MAT320DiscreteMath'">Grade: {{colstudent.MAT320DiscreteMath}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS310CompSciIICOMMENT" data-ng-show="title == 'CPS310CompSciII'">Grade: {{colstudent.CPS310CompSciII}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS315CompSciIIICOMMENT" data-ng-show="title == 'CPS315CompSciIII'">Grade: {{colstudent.CPS315CompSciIII}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS352OOPCOMMENT" data-ng-show="title == 'CPS352OOP'">Grade: {{colstudent.CPS352OOP}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS330AssemblyArchCOMMENT" data-ng-show="title == 'CPS330AssemblyArch'">Grade: {{colstudent.CPS330AssemblyArch}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS353SoftEngCOMMENT" data-ng-show="title == 'CPS353SoftEng'">Grade: {{colstudent.CPS353SoftEnge}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS415DiscContAlgorithmsCOMMENT" data-ng-show="title == 'CPS415DiscContAlgorithms'">Grade: {{colstudent.CPS415DiscContAlgorithms}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS340OpSysCOMMENT" data-ng-show="title == 'CPS340OpSys'">Grade: {{colstudent.CPS340OpSys}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS425LangProcessingCOMMENT" data-ng-show="title == 'CPS425LangProcessing'">Grade: {{colstudent.CPS425LangProcessing}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS493Elect1COMMENT" data-ng-show ="title == 'CPS493Elect1'">Grade: {{grade}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.CPS493ProjectssCOMMENT" data-ng-show="title == 'CPS493Projects'">Grade: {{colstudent.CPS493Elect1}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.EGC230DigLogicCOMMENT" data-ng-show="title == 'EGC230DigLogic'">Grade: {{colstudent.EGC230DigLogic}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.EGC208DigLogicLabCOMMENT" data-ng-show="title == 'EGC208DigLogicLab'">Grade: {{colstudent.EGC208DigLogicLab}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.SCIENCEICOMMENT" data-ng-show="title == 'SCIENCEI'">Grade: {{colstudent.SCIENCEI}}</div>
            <div class = "course_modal" data-ng-bind="colstudent.SCIENCEIICOMMENT" data-ng-show="title == 'SCIENCEII'">Grade: {{colstudent.SCIENCEII}}</div>
        </div>
        <div class = "row">


        </div>

        <div class = "row">
            <label class="control-label">Update</label>
        </div>

        <div>
        <input name="grade" type="text" data-ng-model="colstudent.CPS210CompSciI" data-ng-show="title == 'CPS210CompSciI'">
        <input name="Grade" type="text" data-ng-model="colstudent.MAT251CalcI" data-ng-show="title == 'MAT251CalcI'">
        <input name="Grade" type="text" data-ng-model="colstudent.MAT252CalcII" data-ng-show="title == 'MAT252CalcII'">
        <input name="Grade" type="text" data-ng-model="colstudent.MAT320DiscreteMath" data-ng-show="title == 'MAT320DiscreteMath'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS310CompSciII" data-ng-show="title == 'CPS310CompSciII'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS315CompSciIII" data-ng-show="title == 'CPS315CompSciIII'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS352OOP" data-ng-show="title == 'CPS352OOP'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS330AssemblyArch" data-ng-show="title == 'CPS330AssemblyArch'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS353SoftEng" data-ng-show="title == 'CPS353SoftEng'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS415DiscContAlgorithms" data-ng-show="title == 'CPS415DiscContAlgorithms'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS340OpSys" data-ng-show="title == 'CPS340OpSys'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS425LangProcessing" data-ng-show="title == 'CPS425LangProcessing'">

        <input name="Grade" type="text"  data-ng-model="colstudent.CPS493Elect1" data-ng-show="title == 'CPS493Elect1'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS493Projects" data-ng-show="title == 'CPS493Projects'">
        <input name="Grade" type="text" data-ng-model="colstudent.EGC230DigLogic" data-ng-show="title == 'EGC230DigLogic'">
        <input name="Grade" type="text" data-ng-model="colstudent.EGC208DigLogicLab" data-ng-show="title == 'EGC208DigLogicLab'">

        <input name="Grade" type="text" data-ng-model="colstudent.SCIENCEI" data-ng-show="title == 'SCIENCEI'">
        <input name="Grade" type="text" data-ng-model="colstudent.SCIENCEII" data-ng-show="title == 'SCIENCEII'">
        <input name="Grade" type="text" data-ng-model="colstudent.CPS210CompSciICOMMENT" data-ng-show="title == 'CPS210CompSciICOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.MAT251CalcICOMMENT" data-ng-show="title == 'MAT251CalcICOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.MAT252CalcIICOMMENT" data-ng-show="title == 'MAT252CalcIICOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.MAT320DiscreteMathCOMMENT" data-ng-show="title == 'MAT320DiscreteMathCOMMENT'">
        <input name="Comment" type="text"  data-ng-model="colstudent.CPS310CompSciIICOMMENT" data-ng-show="title == 'CPS310CompSciIICOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS315CompSciIIICOMMENT" data-ng-show="title == 'CPS315CompSciIIICOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS352OOPCOMMENT" data-ng-show="title == 'CPS352OOPCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS330AssemblyArchCOMMENT" data-ng-show="title == 'CPS330AssemblyArchCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS353SoftEngCOMMENT" data-ng-show="title == 'CPS353SoftEngCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS415DiscContAlgorithmsCOMMENT" data-ng-show="title == 'CPS415DiscContAlgorithmsCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS340OpSysCOMMENT" data-ng-show="title == 'CPS340OpSysCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS425LangProcessingCOMMENT" data-ng-show="title == 'CPS425LangProcessingCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS493Elect1COMMENT" data-ng-show="title == 'CPS493Elect1COMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.CPS493ProjectssCOMMENT" data-ng-show="title == 'CPS493ProjectsCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.EGC230DigLogicCOMMENT" data-ng-show="title == 'EGC230DigLogicCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.EGC208DigLogicLabCOMMENT"data-ng-show="title == 'EGC208DigLogicLabCOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.SCIENCEICOMMENT" data-ng-show="title == 'SCIENCEICOMMENT'">
        <input name="Comment" type="text" data-ng-model="colstudent.SCIENCEIICOMMENT" data-ng-show="title == 'SCIENCEIICOMMENT'">
            </div>
        <button class="btn btn-success" data-ng-click = "update();ok()" >Update</button>





</div>
</section>
